<div class="container-fluid">
    <button blueButton class="button-secondary button-sm" aria-label="upload" (click)="openUploadModal(modal)">
        <svg blueIcon="upload"></svg>
        <span class="m-1">Upload File</span>
    </button>

    <!-- Sheet tabs -->
    <ul class="nav nav-tabs" style="margin-top: 40px">
        <li role="presentation" *ngFor="let sheet of sheets; let i = index" [ngClass]="{ active: i == sheetIndex }">
            <a href="#" (click)="tabClicked($event, i)">{{ sheet.name }}</a>
        </li>
    </ul>

    <!-- Current sheet view -->
    <!-- <div id="tableHost"></div> -->

    <blue-modal #modal>
        <ng-container blueContent="title">Upload File</ng-container>
        <ng-container blueContent="utils">
            <button blueButton class="button-link" (click)="closeUploadModal(modal)" aria-label="close">
                <svg blueIcon="x" class="icon"></svg>
            </button>
        </ng-container>
        <div class="block p-6">
            <blue-file-upload name="files" [(ngModel)]="files" [fileCountLimit]="1"></blue-file-upload>
        </div>

        <ng-container blueContent="footer-end">
            <button blueButton class="button-link" (click)="closeUploadModal(modal)">Cancel</button>
            <button blueButton (click)="uploadExcelTemplate(modal)">Continue</button>
        </ng-container>
        <blue-spinner class="spinner-overlay spinner-md" label="Uploading..." *ngIf="uploading"></blue-spinner>
    </blue-modal>
</div>
